[database]
# Database address (String)
#address = postgresql:///tfg_history
address = postgresql://postgres:testpassword1234@172.17.0.1:5432/tfg_history

# Drop all existing tables? (Boolean)
drop_all = false

#Drop 'DataReadings' table? (boolean)
drop_readings = false

#Drop 'Limits' table? (boolean)
drop_limits = false

[zeroc-ice]
adapter.name = DigitalTwinAdapter
adapter.endpoint = default -p 10000
identity = DigitalTwinServer
