[zeroc_ice]
dt.Server=DigitalTwinServer:default -p 10000

FacilityID=Test Facility 1
DeviceID=Test Device 1
#FacilityID=Simulation_Facility1
#DeviceID=Simulation_Device1

[datatypes]
Accelerometer = true
Gyroscope = true
Magnetometer = true
Temperature = true
Pressure = true
Humidity = true
Light = true

# Accelerometer
[limits_acc]
x_max = 1549.94
x_min = 519.16
y_max = 1111.92
y_min = -662.37
z_max = 515.98
z_min = -511.16

# Gyroscope
[limits_gy]
x_max = 1
x_min = -1
y_max = 1
y_min = -1
z_max = 1
z_min = -1

# Magnetometer
[limits_mg]
x_max = 19.87
x_min = -9.7
y_max = 27.14
y_min = -1.63
z_max = 16.95
z_min = -31.4

# Temperature
[limits_temp]
x_max = 34
x_min = 20

# Pressure
[limits_prs]
x_max = 943.13
x_min = 942.95

# Humidity
[limits_hum]
x_max = 27.57
x_min = 26.16

# Light
[limits_lgt]
x_max = 1
x_min = -1
