[zeroc_ice]
dt.Server=DigitalTwinServer:default -p 10000

FacilityID=Simulation_Facility1
DeviceID=Simulation_Device1

send_rate=0.01

###################################################################################
##  The code will generate numbers oscilating between the two values for each
##  datatype axis.
###################################################################################
# Accelerometer
[limits_acc]
x_max = 1503.46
x_min = 556.91
#y_max = 858.05
#y_min = -416.97
y_max = 1500
y_min = -500
z_max = 493.56
z_min = -494.14

# Gyroscope
[limits_gy]
x_max = 1
x_min = -1
y_max = 1
y_min = -1
z_max = 1
z_min = -1

# Magnetometer
[limits_mg]
x_max = 19.8
x_min = -9
y_max = 27.01
y_min = 0
z_max = 17.46
z_min = -28.84

# Temperature
[limits_temp]
x_max = 30
x_min = 23

# Pressure
[limits_prs]
x_max = 943.95
x_min = 943.75

# Humidity
[limits_hum]
x_max = 23.67
x_min = 22.70

# Light
[limits_lgt]
x_max = 1
x_min = -1
